/* tab styles */
.tab-container{
	
}
.tabs .tab-link{
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 4px 12px;
	background-color: #f3f3f3;
	color: #3fbf79;
	font-size: 16px;
	margin-bottom: -1px;
	cursor: pointer;
	float: left;
	width: 120px;
	text-align: center;
}
.tabs .tab-link:first-child{
	border-left: 1px solid #cccccc;
	margin-left: 0;
}
.tabs .tab-link.active{
	background-color: #fff;
	color: #333333;
	border-bottom: 1px solid #fff;
	cursor: default;
}
.tab-holder .tab-content{
	border: 1px solid #cccccc;
	clear: both;
	min-height: 200px;
	padding: 22px;
}

/* action links */
.actions{ padding-left: 0; margin: 10px 0 0 0; }
.actions li{ 
	list-style: none; 
	float: left; 
	display: block;
	padding: 4px 12px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f3f3f3;
	color: #3fbf79;
	border: 0px solid #cccccc;
	border-radius: 3px;
	margin-left: 10px;
}
.actions li.last{
	clear: right;
}
.actions li:hover{
	background-color: #e6e6e6;
	color: #333333;
}
.actions li:first-child{
	margin-left: 0;
}